{% extends 'main/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-9">
            {% if user.is_salesman %}
                {% if user.verification %}
                <div class="d-flex align-items-center user-header" style="background-color: {{ user.shop_background }}; border-radius: 8px; padding: 1rem;">
                    <div class="user_avatar justify-content-center align-items-center col-12 col-sm-6 text-center mb-3">
                        <img src="{{ user.user_image.url }}" alt="" class="user_avarar">
                    </div>
                    <div class="d-flex flex-column user-info col-12 col-sm-6">
                        <div class="d-flex align-items-center">
                            <h2>{{ user.name }}</h2>
                            <img src="{% static 'images/tick.svg' %}" alt="" class="verification-tick">
                        </div>
                        <p class="user status">{{ user.status }}</p>
                        <p class="user raiting">User raiting: {{ user.raiting }}</p>
                    </div>
                </div>
                {% else %}
                <div class="d-flex align-items-center user-header" style="background-color: {{ user.shop_background }}; border-radius: 8px; padding: 1rem;">
                    <div class="user_avatar justify-content-center align-items-center col-12 col-sm-6 text-center mb-3">
                        <img src="{{ user.user_image.url }}" alt="" class="user_avarar">
                    </div>
                    <div class="d-flex flex-column user-info col-12 col-sm-6">
                        <div class="d-flex align-items-center">
                            <h2>{{ user.name }}</h2>
                            <!-- <img src="{% static 'images/tick.svg' %}" alt="" class="verification-tick"> -->
                        </div>
                        <p class="user status">{{ user.status }}</p>
                        <p class="user raiting">User raiting: {{ user.raiting }}</p>
                    </div>
                </div>
                {% endif %}
            {% else %}
            <p>{{ user.name }} is not salesman</p>
            See all <a href="{% url 'salesmans' %}">salesmans</a>
            {% endif %}
            <hr>
            {% if user.is_salesman %}
                {% if all_products.count > 0 %}
                <p>All goods: {{ all_products.count }}</p>
                    {% if shown_products.count == 0 %}
                    <p>{{ user.name }} hidden all goods</p>
                    {% else %}
                        {% if shown_products > 2 %}
                        <div class="row d-flex flex-wrap jusctify-content-center">
                            {% for item in shown_products %}
                            <div class="card m-3" style="width: 18rem;">
                                <img src="{{ item.image.url }}" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                    <!-- <p class="card-text">{{ item.describe }}</p> -->
                                    <p class="card-text">Price: {{ item.price }} rub</p>
                                    <div class="card-btns">
                                        <div class="justify-content-center row">
                                            <a href="" class="btn btn-success col-sm-5 col-10 mx-1">Buy</a>
                                            <a href="" class="btn btn-primary col-sm-5 col-10 mx-1">To favorites</a>
                                        </div>
                                        <a href="{% url 'hide_item' item.pk %}" class="btn btn-light w-100 mt-3">Read info about item</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="row d-flex flex-wrap jusctify-content-start">
                            {% for item in shown_products %}
                            <div class="card m-3" style="width: 18rem;">
                                <img src="{{ item.image.url }}" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                    <!-- <p class="card-text">{{ item.describe }}</p> -->
                                    <p class="card-text">Price: {{ item.price }} rub</p>
                                    <div class="card-btns">
                                        <div class="justify-content-center row">
                                            <a href="" class="btn btn-success col-sm-5 col-10 mx-1">Buy</a>
                                            <a href="" class="btn btn-primary col-sm-5 col-10 mx-1">To favorites</a>
                                        </div>
                                        <a href="" class="btn btn-primary w-100 mt-3">Read info about item</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div> 
                        {% endif %}
                    {% endif %}
                {% else %}
                <p>{{ user.name }} has no goods</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-3">
            <a href="" class="btn btn-danger w-100">Report about this account</a>
        </div>
    </div>
{% endblock %}