{% extends 'main/base.html' %}
{% block title %}Profile settings{% endblock %}
{% block content %}
<div class="row d-flex justify-content-center w-100">
    <form action="" method="post" class="w-50">
        {% csrf_token %}
        <label for="">User photo</label></br>
        {% if user.user_image %}
        <img src="{{ user.user_image.url }}" alt="" style="width: 256px; height: 256px; border-radius: 100%; object-fit: cover;">
        {% endif %}
        <input type="file" name="user_photo" id="" value="{{ user.user_image.url }}"><br><br>
        <label for="">Username</label><br>
        <input type="text" name="username" id="" value="{{ user.name }}" class="w-100"><br><br>
        <label for="">Status</label>
        <input type="text" name="status" value="{{ user.status }}" class="w-100"><br><br>
        <label for="">Is salessman</label><br>
        {% if user.is_salesman %}
        <p>Yes. To close a you'r shop, please <a href="" class="btn btn-primary">Write to support team</a></p>
        <!-- <input type="checkbox" name="" id="" checked> -->
        {% else %}
        <input type="checkbox" name="is_salesman" id="">
        {% endif %}<br><br>
        <input type="submit" value="Save" class="btn btn-primary w-100">
    </form>
</div>
{% endblock %}