html, body {
    height: 100%;
}


.card {
    // width: 270px;
    padding: 0!important;
    border-radius: 1rem!important;
    .card-img-top {
        height: 200px!important;
        object-fit: cover;
        border-radius: 1rem!important;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        .card-text {
            flex-grow: 1;
        }
    }
}


.verification-tick {
    width: 24px;
    height: 24px;
    margin-left: 1rem;
    position: relative;
    bottom: 4px;
}

.wrapper { 
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    margin-top: 10rem;
    flex: 0 0 auto;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
}

.user_avarar {
    width: 256px;
    height: 256px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 1rem;
    transition: all .25s linear;
    &:hover {
        cursor: pointer;
        opacity: .5;
    }
}

.user {
    &.status {
        opacity: .7;
    }
    &.raiting {
        color: rgb(0, 102, 255);
    }
}

.card-salesman {
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 1rem;
    padding: 1rem;
}