{% extends 'main/base.html' %}
{% block title %}Add item{% endblock %}
{% block content %}
<div class="row d-flex justify-content-center w-100">
    <form action="" method="post" class="w-50">
        {% csrf_token %}
        <label for="">Item photo</label></br>
        <input type="file" name="image" id=""><br><br>
        <label for="">Title</label><br>
        <input type="text" name="title" id="" placeholder="Title" value="{{ item.title }}" class="w-100 form-control"><br><br>
        <label for="">Describe</label>
        <input type="text" name="describe" placeholder="Short describe" value="{{ item.describe }}" class="w-100 form-control"><br><br>
        <label for="">Price</label><br>
        <input type="number" name="price" id="" value="{{ item.price }}" class="w-100 form-control"><br><br>
        <label for="">Show in shop</label>
        <input type="checkbox" name="is_pub" id="" checked><br><br>
        <input type="submit" value="Save" class="btn btn-primary w-100">
    </form>
</div>
{% endblock %}