{% extends 'main/base.html' %}
{% block title %}Products{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between mb-5">
        {% if back %}
        <a class="btn btn-primary" href="{% url 'item_info' back.pk %}">Previous item</a>
        {% endif %}
        {% if next %}
        <a class="btn btn-primary" href="{% url 'item_info' next.pk %}">Next item</a>
        {% endif %}
    </div>
    <h1>{{ item.title }}</h1>
    <p>
        <a href="{% url 'profile' item.salesman.pk %}">{{ item.salesman }}</a>
    </p>
    <h2>Price: {{ item.price }} rub</h2>
    <h2>Describe</h2>
    <div class="row">
        <div class="col-6">
            <div class="d-flex flex-column">
                <p>{{ item.describe }}</p>
                <div class="btns">
                    <div class="btn btn-primary">Write to salesman</div>
                    <div class="btn btn-danger">To favorites</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="{{ item.image.url }}" alt="" class="item-info__item-img">
        </div>
    </div>
</div>
{% endblock %}